.header{
  width: 100wh;
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: roboto, arial;
  font-weight: bolder;
  font-size: 18px;
  background-color: rgb(6, 95, 212);
  color: white;
  padding: 10px 10px;
  opacity: 65%;
  
}
.left-header{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
}
.left-header a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin: 0;
}
.left-header img{
  height: 50px;
  margin-right: 20px;
  border: none;
  border-radius: 25px;
}
.right-side-header a{
  padding-right: 10px;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.right-side-header a:hover{
  color: rgb(67, 209, 252);
  transition: 0.30s;
}
.right-side-header p{
  display: inline;
  flex-direction: row;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}