.main-content{
  padding-top: 75px;
}
.hrpec-background{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.middle-content{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.mission-content{
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
  background-color: rgb(255, 255, 255);
  margin: 20px 20px;
}
.mission-content p{
  color: rgb(67, 151, 192);
  padding: 10px 10px;
}
.mission-text{
  display: flex;
  justify-content: center;
  font-family: roboto,arial;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0;
  padding-bottom: 0;
}
.mission-info{
  margin-top: 0;
  font-family: roboto,arial;
}
.vision-content{
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
  background-color: rgb(255, 255, 255);
  margin: 20px 20px;
}
.vision-content p{
  color: rgb(67, 151, 192);
  padding: 10px 10px;
}
.vision-text{
  display: flex;
  justify-content: center;
  font-family: roboto,arial;
  font-size: 30px;
  font-weight: bolder;
  padding-right: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.vision-info{
  margin-top: 0;
  font-family: roboto,arial;
}