body{
  margin: 0;
  background-color: white;
}
.hrpec-background{
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.middle-content-grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  display: flex;
  align-items: stretch;
}
.mission-content{
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
  background-color: rgb(255, 255, 255);
  margin: 20px 20px;
}
.mission-content p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(67, 151, 192);
  padding: 10px 10px;
}
.mission-text{
  font-family: roboto, arial;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0;
  padding-bottom: 0;
}
.mission-info{
  text-align: center;
  margin-top: 0;
  font-family: roboto, arial;
}
.vision-content{
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
  background-color: rgb(255, 255, 255);
  margin: 20px 20px;
}
.vision-content p{
  color: rgb(67, 151, 192);
  padding: 10px 10px;
}
.vision-text{
  display: flex;
  justify-content: center;
  font-family: roboto,arial;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0;
  padding-bottom: 0;
}
.vision-info{
  text-align: center;
  margin-top: 0;
  font-family: roboto,arial;
}
.scroll-up{
  bottom: 20px;
  right: 20px;
  width: 38px;
  height: 38px;
  background: url(../images/top.png) no-repeat;
  position: fixed;
  z-index: 2147483647;
  transition: 0.15s;
}
.scroll-up a{
  color: #337ab7;
  text-decoration:none;
}